.tab{
    display:flex;
}
.gap{
    flex:2
}
.pages{
    display: flex;
    flex: 1;
}
.page{
    margin-left: 10px;
    
}
.textPage{
    text-decoration-line: none;
    color: white

}
.page :hover{
    background-color: rgba(240, 248, 255, 0.233);
}